
<%= form_with(scope: :session , url: login_path ,local: true) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email , placeholder: 'Enter you email'%>
  </div>

  <div>
    <%= form.label :password%>
    <%= form.password_field :password, placeholder: 'Enter you password'%>
  </div>


  <div class="actions">
    <%= form.submit 'Login'%>
  </div>
<% end %>
